#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Sficoind += debian/examples/*
DEB_INSTALL_MANPAGES_Sficoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Sficoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Sficoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Sficoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Sficoind:
	chmod +x $(cdbs_curdestdir)usr/bin/Sficoind
binary-post-install/Sficoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Sficoin-qt
