[Unit]
Description=Sficoin daemon serivce
After=network.target

[Service]
Type=simple
User=Sficoin
ExecStart=/opt/Sficoin/Sficoind

[Install]
WantedBy=multi-user.target
